<div class="email-container" style="font-family: Open Sans Hebrew; height: 1000px; width: 100%">
    <div class="container" style="text-align: center;">
        <img src="cid:mailtitle">
        <h1 dir="rtl" style="font-weight:bold; color: #9E339A">ברוכים הבאים</h1>
        <h5 dir="rtl" style="font-weight:bold;">אשר חשבון</h5>
        <h4 dir="rtl" style="margin-bottom: 0; font-weight: 400">האישור יפוג כשעה לאחר ההרשמה, לאחר מכן תצטרכו להרשם מחדש.</h4>
        <h4 dir="rtl" style="margin-top: 0; font-weight: 400">לאחר האישור יופיע מזהה משתמש בעל חמישה אותיות אותם יהיה עליכם לשמור על מנת להתחבר למערכת.</h4>
        <a href="{{link}}" dir="rtl" style="padding-left: 100px; height: 30px; padding-right: 100px; border-color: #9E339A !important; background-color: #9E339A !important; color: white; border-radius: 38px !important;">אשר חשבון</a>
        <div>
            <label style="color: #919191; font-weight: 400; margin-top: 30px; margin-bottom: 30px">SugarRun © 2017</label>
        </div>
    </div>
</div>